<!-- <h1>Listing posts</h1>
 -->
  <script type="text/javascript" src="/assets/jquery.raty.js"></script>

    <%= render 'filter' %>
    <b>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="center">Preview</th>
         <th class="center" width="27%">Heading</th>
        <!--<th>Body</th>-->
        <th class="center">Price</th>
        <th class="center">City</th>
        <!--     <th class="center">Neighborhood</th>
         <th class="center">Zip</th>
        <th class="center">Phone</th>
        <th class="center">Drive</th>
    -->     <th class="center">Model Year</th>
   <!--      <th class="center">Color</th>
        <th class="center">Fuel </th>
    -->     <th class="center">Make </th>
        <th class="center">Model </th>
            <th class="center">Type </th>
   <!--      <th class="center">Title </th>
        <th class="center">Transmission </th>
        <th class="center">Mileage </th>
    -->     <!--<th>External url</th>
    <th class="center">Timestamp</th>-->
    <th class="center">Last Updated</th>
    <!-- <th class="center">Rating </th> -->

    <th class="center">DuplicateCount</th>
    <th class="center">Like/Dislike</th>

        <!--<th colspan="3"></th>-->
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr style="background:<%= post.flagged_status==1? "#f1dae1" : "" %>;" >
          <td width="5%" height="70px">
          <%= link_to post_path(post) do %>
       <% if post.images.empty? %>
          <%= image_tag "http://www.countrytravelmart.com/images/car-default.png", class: "thumbnail" %>
        <% else %>
          <%= image_tag post.images.first.url, class: "thumbnail" %>
        <% end %>
        <% end %>
      </td>
          <td style="vertical-align:middle"><%= link_to post.heading, post %></td>
          <!--<td><%= post.body %></td>-->
          <td class="center" style="vertical-align:middle"><%= number_to_currency(post.price, precision:0) %></td>
          <td class="center" style="vertical-align:middle"><%= post.city %></td>
          <!--     <td class="center" style="vertical-align:middle"><%= post.neighborhood %></td>
        <td class="center" style="vertical-align:middle"><%= post.zipcode %></td>
          <td class="center" style="vertical-align:middle"><%= post.phone %></td>
          <td class="center" style="vertical-align:middle"><%= post.drive %></td>
         -->  <td class="center" style="vertical-align:middle"><%= post.year %></td>
         <!--  <td class="center" style="vertical-align:middle"><%= post.paint_color %></td>
          <td class="center" style="vertical-align:middle"><%= post.fuel_vehicle %></td>
          --> <td class="center" style="vertical-align:middle"><%= post.make_vehicle %></td>
          <td class="center" style="vertical-align:middle"><%= post.model_vehicle %></td>
          <td class="center" style="vertical-align:middle"><%= post.type_vehicle %></td>
         <!--  <td class="center" style="vertical-align:middle"><%= post.title_status %></td>
          <td class="center" style="vertical-align:middle"><%= post.transmission %></td>
          <td class="center" style="vertical-align:middle"><%= post.mileage %></td>
          -->

          <!--<td><%= post.external_url %></td>
           <td class="center" style="vertical-align:middle"><%= Time.at(post.created_date.to_i) %></td>
         -->
          <td class="center" style="vertical-align:middle"><%= "#{time_ago_in_words(Time.at(post.created_date.to_i))} ago" %></td>
           <!--<td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          <!-- <td class="center" style="vertical-align:middle"> <div class="star-rating" data-score="<%= post.rating %>" ></div></td> -->

          <td class="center" style="vertical-align:middle"><%= post.duplicateCount.present? ? post.duplicateCount : 0 %></td>
          <td class="center" style="vertical-align:middle">
            <button class="btn btn-mini btn-success" type="button" id="likeButton_<%= post.id %>" onclick="like(this,<%= post.id %>);" ><%= post.likeCount.to_i >99 ? post.likeCount.to_i : '0'+post.likeCount.to_s %></button>

            <button class="btn btn-mini btn-danger" type="button" id="dislikeButton_<%= post.id %>" onclick="dislike(this,<%= post.id %>);"><%= post.dislikeCount.to_i >99 ? post.dislikeCount.to_i : '0'+post.dislikeCount.to_s %></button>
          </td>
          </div>
       </tr>
       <% end %>
     </tbody>
   </table>
 </b>
   <!-- <%= will_paginate @posts%>  will paginate without formatting -->
    <%= will_paginate @posts,renderer: BootstrapPagination::Rails %> <!-- @posts should be same as controller-->

   <br>

   <!-- <%= link_to 'New Post', new_post_path %> -->

 <script>
  $('.star-rating').raty({
     path: '/assets',
     readOnly: true,
     score: function() {
       return $(this).attr('data-score');
     }
   });

   var likes=0, dislikes=0;

//Functions to increase likes and immediately calculate bar widths
function like(me,i){

  likes = $('#likeButton_'+i).html();
	likes++;
  if (likes < 100)
      likes = '0'+likes
  if (likes < 10)
      likes = '0' + likes
  $('#likeButton_'+i).html(likes);

}
function dislike(me,i){
  dislikes = $('#dislikeButton_'+i).html();
	dislikes++;
  if (dislikes < 10)
    dislikes = '0' + dislikes
  if (dislikes < 100)
    dislikes = '0'+dislikes
  $('#dislikeButton_'+i).html(dislikes);
}


 </script>
