<script type="text/javascript" src="/assets/jquery.cycle.all.js"></script>
<style>

#fixed {
  position: fixed;
  bottom: 10px;
  right: 0px !important;
  width: 300px;
  background-color: #e3c3c3 ;
  border: 2px !important;
	border-color: black !important;
  border-radius: 10px;
  z-index:500;
  padding: 5px;

}

.img {
  height : 100px !important;
  width : 100px !important;

}
</style>
<div id="fixed">
  <b> We recommend </b>
  <div class="carousel" id="carousal" style="background-color:#f8f8f8 !important;">
  <% @postRecommendation.each do |post| %>
        <div >
          <div class="row" style="background-color:#f8f8f8 !important;">

            <div class="col-md-5" >

                <%= link_to post_path(post) do %>
                  <% if post.images.empty? %>
                    <%= image_tag "http://www.countrytravelmart.com/images/car-default.png", class: "thumbnail img" %>
                  <% else %>
                      <%= image_tag post.images.first.url, class: "thumbnail img" %>
                  <% end %>
                <% end %>


          </div>
          <div class="col-md-7" >

          <!--<td><%= post.body %></td>-->  <b>
          Name : <%= post.make_vehicle %> - <%= post.model_vehicle %>
          Price : <%= number_to_currency(post.price, precision:0) %><br>
          Location : <%= post.city %> <br>
          Model Year : <%= post.year %></b>
          </div>
        </div>
        <div class="row" style="background-color:#f8f8f8 !important;">
          <div class="col-md-12" >
          <b><%= link_to post.heading, post %></b>
        </div>
        </div>
      </div>
      <% end %>

</div>
</div>
<script>

$('#carousal').cycle({
    fx:     'scrollUp',
    timeout: 3000,
    delay: -1000
});
</script>
