<!DOCTYPE html>
<html>
<head>
  <title>TrendingWheels</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <script type="text/javascript" src="/assets/jquery.cycle.all.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.raty.js"></script>
  <script type="text/javascript" src="/assets/solid-gauge.js"></script>
  <script type="text/javascript" src="/assets/notify.js"></script>
  <script type="text/javascript" src="/assets/tipped.js"></script>
  <script type="text/javascript" src="/assets/highcharts-more.js"></script>
  <script type="text/javascript" src="/assets/edmunds.api.sdk.js"></script>

  <link href="https://raw.githubusercontent.com/IronSummitMedia/startbootstrap-freelancer/gh-pages/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <%= render 'layouts/bootstrapcdn' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>

<%= render 'layouts/navbar' %>
<div class="container-fluid kipMargin">

<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
